@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background: green;
  text-align: center;
}

header, dl, button{
  font-family: 'Montserrat', script, cursive;
  text-transform: uppercase;
  font-size: 180%;
}
header {
  padding: .6em 0 .6em 0;
}
.notClickable:hover {
  cursor: no-drop;
}

nav {
  display: inline;
  position: absolute;
  width: 8em;
  top: 7em;
  right: 0;
  padding: 1em;
  cursor: default;
}
nav button {
  position: absolute;
}
button:hover, .flippable-card:hover {
  cursor: pointer;
}
button {
  border-radius: .4em;
  box-shadow: 0.04em 0.04em 0.04em 0.04em rgba(20, 20, 20, 0.4);
  -webkit-transition: width 4s, height 4s, background-color 4s, -webkit-transform 4s;
  transition: width 4s, height 4s, background-color 4s, transform 4s;
}
button.start:hover {
  color: darkgreen;
}
button:hover {
  color: darkred;
}

button:focus {
  outline: none;
}
.flipped:hover {
  cursor: no-drop;
}
nav ul {
  list-style: none;
  position: relative;
  display: block;
  top: 10em;
}
dl {
  margin: auto;
}
dd, dt {
  display: block;
  margin: auto;
}
dd {
  font-size: 240%;
  padding-bottom: .5em;
}
dt {
  text-transform: lowercase;
  font-size: 60%;
}
#table {
  margin: 0 auto;
  background: green;
  width: 640px;
  font-size: 120%;
  /*font-family: 'Crafty Girls', script, cursive;*/
}

.card-on-table {
  width: 5em; /* 100px; */
  height: 6.7em; /* 140px; */
  position: relative;
  perspective: 800px;
  display: inline-block;
  margin: .2em;
}

.flippable-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flippable-card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flippable-card .card-facedown {
  /*background: pink;*/
}
.flippable-card .card-faceup {
  /*background: cyan;*/
  transform: rotateY( 180deg );
}

.flippable-card.flipped {
  transform: rotateY( 180deg );
}
