@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  background: green;
  text-align: center; }

header, dl, button {
  font-family: 'Montserrat', Tahoma, Geneva, sans-serif;
  text-transform: uppercase;
  font-size: 160%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  border-radius: 0.3em; }

button {
  background: white; }

#button {
  transition: all 2s; }

#table {
  width: 27em;
  margin: 3em auto; }

/* entire container, keeps perspective */
.card-container {
  perspective: 1000;
  display: inline-block;
  padding: 0.2em; }

/* keep mouse cursor normal when over flipped cards */
.card-container.flip:hover {
  cursor: default; }

/* make mouse cursor a finger pointer when over a flippable card  */
.card-container:not(.flip):hover {
  cursor: pointer; }

/* flip toggle */
.card-container.flip .flippable-card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.card-container, .card-back, .card-face {
  width: 6em;
  height: 6em;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%; }

/* flip speed goes here */
.flippable-card {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.card-back, .card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.card-back {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: steelblue; }

/* back, initially hidden pane */
.card-face {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-face p {
  display: block;
  margin: auto;
  line-height: 6em;
  font-size: 4.8em;
  font-family: Tahoma, Geneva, sans-serif; }

.animate-nod {
  box-shadow: 1em yellow; }

/* shake failed matches
learned from: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
*/
.animate-shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -moz-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    -webkit-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }
.animate-nod {
  animation: nod 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes nod {
  10%, 90% {
    -webkit-transform: translate3d(0, -1px, 0);
    -moz-transform: translate3d(0, -1px, 0);
    -ms-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0); }
  20%, 80% {
    -webkit-transform: translate3d(0, 2px, 0);
    -moz-transform: translate3d(0, 2px, 0);
    -ms-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); }
  40%, 60% {
    -webkit-transform: translate3d(0, 4px, 0);
    -moz-transform: translate3d(0, 4px, 0);
    -ms-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0); } }
/* score and stats board */
#stats {
  position: absolute;
  width: 8em;
  top: 1em;
  right: 0;
  padding: 1em;
  cursor: default; }

dl {
  margin: auto; }

dd, dt {
  display: block;
  margin: auto; }

dd {
  font-size: 240%;
  padding-bottom: .5em; }

dt {
  text-transform: lowercase;
  font-size: 60%; }

/* for debugMode only */
p.hint {
  color: steelblue; }

.hint:hover {
  color: white; }

/*# sourceMappingURL=style.css.map */
